<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.demo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ProfilePageFS"></activity>
        <activity android:name=".HomeFSupplier" />
        <activity android:name=".Food" />
        <activity
            android:name=".MyPostsBOwner"
            android:parentActivityName=".HomeBOwner" />
        <activity android:name=".MyBordersInsideData" />
        <activity
            android:name=".MyBoarders"
            android:parentActivityName=".HomeBOwner" />
        <activity
            android:name=".ProfilePageBO"
            android:parentActivityName=".HomeBOwner" />
        <activity
            android:name=".ProfilePageB"
            android:parentActivityName=".HomeBO" />
        <activity android:name=".HomeBOwner" />
        <activity android:name=".InsidePostdata" />
        <activity android:name=".finalPractise" />
        <activity android:name=".HomePage_FS" />
        <activity android:name=".MyPostsF" />
        <activity android:name=".my_post_BO" />
        <activity android:name=".MyAdsBOwner" />
        <activity android:name=".AcceptedOrder" />
        <activity android:name=".OrderFood" />
        <activity android:name=".PayHistory" />
        <activity android:name=".PayRent" />
        <activity android:name=".ChatPage" />
        <activity
            android:name=".profile"
            android:parentActivityName=".HomeBO" />
        <activity
            android:name=".FoodPage"
            android:parentActivityName=".HomeBO" />
        <activity
            android:name=".BoardingPage"
            android:parentActivityName=".HomeBO" />
        <activity android:name=".HomeBO" />
        <activity android:name=".ForgetPassword" />
        <activity android:name=".Register" />
        <activity android:name=".Second" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>